.woocommerce-product-gallery__wrapper {
    position: relative;
}

.lipdf_container {
}

.lipdf_container a:focus {
    outline-color: transparent;
}

.lipdf_container a.button.alt.lipdf_btn.after_product_thumb {
    max-width: 100%;
    min-width: 100%;
}

.show_lipdf_button_container {
    display: block;
    width: 100%;
    overflow: hidden;
    align-self: flex-end;
}

.lipdf_btn {
    margin-bottom: 10px;
    margin-right: 10px;
}

.show_image_on_product_thumb, .show_text_on_product_thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
}

.show_text_on_product_thumb {
    z-index: 999;
    color: #333;
}

.show_text_on_product_thumb p {
    background: #fff;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.donot_show_lipdf_btn:hover {
    background: #3333339e;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #fff;
    padding: 10px;
    justify-content: center;
}

.text-center {
    text-align: center;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 30px;
    border: 1px solid #888;
    width: 70%;
    position: relative;
}

/* The Close Button */
#lipdf_modal .close {
    color: #ff0000;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: -15px;
    top: -18px;
    background: #000;
    padding: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 22px;
    text-align: center;
}

#lipdf_modal .close:hover,
#lipdf_modal .close:focus {
    text-decoration: none;
    cursor: pointer;
}

canvas {
    border: 2px solid #000;
    margin: 0 auto;
    text-align: center;
}

#lipdf_reader {
    height: 80vh;
    border: 5px solid rgba(0, 0, 0, .1);
    overflow-y: scroll;
    background: rgba(0, 0, 0, .1);
}

#lipdf_reader ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#lipdf_reader ul li {
    margin-bottom: 5px;
}

.li_pdf_single_image {
    width: 100%;
}


/* responsive css */

/* Desktop Layout: 1024px. */
@media only screen and (min-width: 992px) and (max-width: 1279px) {

}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .modal-content {
        padding: 20px;
        width: 85%;
    }
}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
    .modal-content {
        padding: 15px;
        width: 92%;
    }

}

/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}


